extends ./layout.pug

block title
  title Examples

block body
  ul
    li
      a#js-point-clicker(href="./point_clicker.html")
        button Point Clicker
    li
      a#js-triangles(href="./triangles.html")
        button Triangles
    li
      a#js-triangles(href="./rectangle.html")
        button Rectangle
