extends ./layout.pug

block title
  title Examples

block body

  canvas#js-canvas(width="800", height="600")

  ul
    li
      button#triangle Triangle
    li
      button#rect Rectangle
    li
      input#rotation(type="range", min="0", max="360", step="1" value="0")
    li
      input#translateX(type="range", min="-1.0", max="1.0", step="0.1", value="0.0")
    li
      input#translateY(type="range", min="-1.0", max="1.0", step="0.1", value="0.0")
    li
      input#scale(type="range", min="0.0", max="5.0", step="0.1", value="1.0")
